<!DOCTYPE html>
<html>
<head>
  <title>OTP Email</title>
</head>
<body>
  <div style="font-family: Helvetica,Arial,sans-serif;min-width:1000px;overflow:auto;line-height:2">
    <div style="margin:30px auto;width:90%;padding:20px 0">
        <div style="border-bottom:1px solid #eee; display: flex; flex-direction: column; align-items: center; justify-content: center">
            <a href="" style="font-size:1.4em;color: #00466a;text-decoration:none;font-weight:600">E-Commerce Application</a>
        </div>

        <p style="font-size:1.1em; text-align: center;">Hi,</p>
        <p style="text-align: center;">You have requested a password reset on your account, Use the otp below to reset your password. Otp is valid for 10 minutes</p>
        <h2 style="background: #00466a;margin: 0 auto;width: max-content;padding: 0 10px;color: #fff;border-radius: 4px; text-align: center;">{{otp}}</h2>
        <p style="text-align: center;">If you didn't request this you can ignore this email or let us know.</p>
        <p style="font-size:0.9em; text-align: center;">Regards,<br />E-commerce</p>
        <hr style="border:none;border-top:1px solid #eee" />

        <div style="float:right;padding:8px 0;color:#aaa;font-size:0.8em;line-height:1;font-weight:300">
            <p>Your Brand Inc</p>
            <p>1600 Amphitheatre Parkway</p>
            <p>California</p>
        </div>
    </div>
</div>
</body>
</html>